@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 300;
	src: local('Nunito Light'), local('Nunito-Light'), url('Nunito-Light.ttf');
}

@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 600;
	src: local('Nunito SemiBold'), local('Nunito-SemiBold'), url('Nunito-SemiBold.ttf');
}


body {
	font-family: 'Nunito', 'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif;
	font-weight: 300;
}

.navbar-brand,
h1,
h2,
h3 {
	font-weight: 600;
}

.navbar,
.jumbotron,
footer {
	background-color: #45b086 !important;
	color: #fff;
	border-radius: 0;
}
footer {
	margin-top: 4rem;
	padding: 2rem 0;
}

.btn-primary {
	color: #45b086;
	border: 4px #45b086 solid !important;
	background: transparent;
	font-weight: 600;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	color: #fff;
	background: #45b086;
}

a {
	text-decoration: none !important;
	outline: none !important;
}

section a:hover::after,
section a:focus::after,
section a:active::after {
    content: url('../img/highlight.svg');
    position: absolute;
	top: -3px;
	left: calc(50% - 128px);
}

section a h3,
section a p {
	color: #212529;
}
section a:hover h3,
section a:hover p,
section a:focus h3,
section a:focus p,
section a:active h3,
section a:active p {
	color: #45b086;
}

footer a {
	color: #fff !important;
	font-weight: 600;
}
footer a:hover,
footer a:focus,
footer a:active {
	opacity: .8;
}

.navbar-brand img {
	height: 32px;
	vertical-align: text-bottom;
}

section {
	padding-top: 32px;
}

h2 {
	display: inline-block;
	background-color: #fff;
	color: #45b086 !important;
	text-align: center;
	padding: 16px;
	margin-top: 32px;
}

hr {
	border: 2px solid #45b086 !important;
	border-radius: 3px;
	margin-bottom: -4.4rem;
	margin-top: 5rem;
}

h3 {
	margin-top: 1rem;
}

section .container.text-center p {
	text-align: left;
}

.container .row img {
	width: 100px;
	max-height: 100px;
	border-radius: 50%;
	margin-top: 20px;
}






[class^='color-'], [class*='color-']  {
	border: none;
}

.color-heartofcode,
.color-heartofcode:hover,
.color-heartofcode:focus,
.color-heartofcode:active {
	background-color: #c32025;
}
.color-lereset,
.color-lereset:hover,
.color-lereset:focus,
.color-lereset:active {
	background-color: #feed64;
	color: #444444;
}
.color-doubleunion,
.color-doubleunion:hover,
.color-doubleunion:focus,
.color-doubleunion:active {
	background-color: #d12aa4;
}
.color-railsgirls,
.color-railsgirls:hover,
.color-railsgirls:focus,
.color-railsgirls:active {
	background-color: #d82222;
}
.color-outreachy,
.color-outreachy:hover,
.color-outreachy:focus,
.color-outreachy:active {
	background-color: #58cfe5;
}
